<html>
<head>
    <meta charset="utf-8">
    <title>Index Category</title>
</head>
<body>
<center>
    <h1>Index</h1>
    <a href="/hot_city">Polular Cities</a >
    <br/>
    <a href="/hot_city?sort=temperature">Popular Cities By Temperature
        Asc</a >
    <br/>
    <a href="/hot_city?sort=-temperature">Popular Cities By Temperature
        Desc</a >
    <br/>
    <form action="/city_weather">
        City Name:<br>
        <input type="text" name="city_name">
        <input type="submit" value="Get Weather!">
    </form>
</center>
</body>
</html>
<style>
    body {
        background-image: url("/static/1.jpeg");
    }
</style>